*, *::before, *::after{
	
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;	
    padding:0;
    margin:0;
}
.container{
	display: -webkit-flex; 
	display: -ms-flex; 
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

  justify-content: space-between;
  -webkit-justify-content: space-between; 
}
.small-box{
	display: -webkit-flex; 
	display: -ms-flex; 
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

  justify-content: space-between;
  -webkit-justify-content: space-between; 
}
/*animation.html*/
@media(max-width:1280px){
  .big-box{
    padding:2rem 0rem;
    margin:auto;
  }
}
@media(max-width:441px){
  .big-box{
    padding:1rem 0rem;
    margin:auto;
  }
}
/*homepage*/
@media(max-width:2000px){
  .start-img img{
    width:70%;
    height:70%;
  }
}
@media(max-width:771px){
  .start-img img{
     width:85%;
     height:85%;
     margin:0;
  }
}
@media(max-width:440px){
  .start-img img{
    width:95%;
    height:95%;
    margin:0;
  }

